*{
    padding: 0;
    margin: 0;
    box-sizing: border-box  ;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(TESTING.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:hover{
    background-image: url(cool.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 80vw;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

img{
    width: 128px;
}

.item{
    background-color: black;
    color: white;
    border: 3px solid rgb(77, 4, 4);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#Yuji .details, #Kenjaku .details{
    gap: 50px;
}

.desc{
    text-align: justify;
    line-height: 1.5;
}

.details{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name{
    font-size: 2rem;
    font-weight: 700;
}

.name-race{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

#Yuji{
    background-color: black;
    grid-column: 1/3;
    grid-row: 1/2;
}

#Sukuna{
    background-color: black;
}

#Gojo{
    background-color: black;
}

#Kenjaku{
    background-color: black;
    grid-column: 2/4;
    grid-row: 2/3;
}

#Megumi{
    background-color: black;
    grid-column: 4/5;
    grid-row: 1/3;
}

@media (max-width: 1000px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    
    #Yuji{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #Sukuna{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #Gojo{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #Kenjaku{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #Megumi{
        grid-column: 1/3;
        grid-row: 4/5;
    }
}

@media (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }

    #Yuji{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #Sukuna{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #Gojo{
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #Kenjaku{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #Megumi{
        grid-column: 1/2;
        grid-row: 5/6;
    }
}
