@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+SC:wght@100..900&display=swap');

h1{
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 3rem;
    background-color: Black;
    font-weight: bold;
}

h2{
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 2rem;
    color: aliceblue;
    font-weight: 100;
    
}


body{
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 2rem;
    color: aliceblue;


    background-image: url(https://img.freepik.com/free-vector/realistic-luxury-background_23-2149337126.jpg?size=626&ext=jpg);
    background-size: cover;
}

.logo{
    height: 150px;
    width:  150px;
}

.span_class{
    color: red;
    font-weight: bold;
    background-color: whitesmoke ;

}
